@charset "utf-8";
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


URAWA RED DIAMONDS OFFICIAL WEBSITE
(c) URAWA REDS


-------------------------------------------------------------------------------------------------------------------------------------------
	game
		0. UniqueStyle
-------------------------------------------------------------------------------------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ================================================================================ */
/*      0.UniqueStyle     */  
/* ================================================================================ */


.game .mainContTblA {
}

.game .mainContTblA td,
.game .mainContTblA th  {
	padding:0.5em;
}
.game .mainContTblA .tbTtleTd {

}
.game table.mainContTblA.date{
	font-size:85%;
}

.game table.mainContTblA.date{
	font-size:85%;
}


.game .mainContTblA.date td.time,
.game .mainContTblA.date td.team,
.game .mainContTblA.date td.result{
	white-space: nowrap; 
}


.game .mainContTblA.gameReport th.tbTtleTh{
	width:150px;
}

.game .homeJ  {
	background-color:#EA132E;
	color:#FFF;
}
.game .awayJ  {
	background-color:#666;
	color:#FFF;
}
.game .homeN  {
	background-color:#EC5366;
	color:#FFF;
}
.game .awayN  {
	background-color:#888888;
	color:#FFF;
}

.game .gameFontA {
	color:#FFF;
	font-size:100%
}

.game .gameFontB {
	color:#FFF;
	font-size:93%
}

.game .gameFontC {
	color:#FFF;
	font-size:116%;
	font-weight:bold;
}
.game .gameFontD {
	color:#ffff66;
	font-size:116%;
	font-weight:bold;
}

.game .gameFontE {
	font-size:85%;
	color:#fff;
	line-height:1.1;
}

.game .vCenter {
	vertical-align:center;
}

.game .schedule th.date{width:70px;}
.game .schedule td.topTeam{width:245px;}
.game .schedule td.satelite{width:245px;}

.game .schedule th.date{width:70px;}
.game .schedule td.topTeam{width:245px;}
.game .schedule td.satelite{width:245px;}

.game ul.tabContentsA.pastGameList li{
	width:84px;
}
